body{
    background-color: #fdfef7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
}
img{
    position: fixed;
    height: 100%;
}
.container{
    margin-left: 60%;
    border-radius: 5px;
    padding-top: 30;  
}
.loin{
    margin-left: 60%;
    border-radius: 5px;
    padding-top: 100;
      
}
.container2  {
    background-color: #799197;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    border-radius: 5px;
    padding: 20px;

    }
h2 {
        text-align: center;
    }
    
form {
        display: flex;
        flex-direction: column;
    }
    
input {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    
button {
        padding: 10px;
        background-color: #b8935c;
        color: #fff;
        border: none;
        border-radius: 4px;
    }
    
p {
        text-align: center;
}
label{
    color: #292828;
    font-weight: 100;
}
